#Visual Studio Code
.vscode

# Distribution / packaging
*.egg-info/
*.egg
Pipfile

# Jupyter Notebook
.ipynb_checkpoints
__pycache__/
report.log
notebooks/

#Evaluation
evalset
exdata
cec2013single
ppdata
coco
results/